<html>
<head>
    <title>主页</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/homepage.css"/>
    <script src="../js/jquery3.3.1/jquery3.3.1.js"></script>
    <script src="../js/imgutils.js"></script>
    <script>

        /*获取用户信息*/
        var url = "/activity/user/info";
        $.post(url,"",function (data, status) {
            console.log("status:" + status + "   data: " + typeof  data)
            if(status === "success"){
                if(data !== null){
                    $("#userpath").attr("src",data.userImgPath);
                    var username = data.userName;
                    console.log("username:" + username);
                    $("#username").html(data.userName);
                    // document.getElementById('username').innerHTML = "123";
                }
            }
        },"json");

        $.get("/activity/activities/all","",function (data,status) {
            if(status === "success"){
                if(data !== null){
                    data.forEach(function (item,index) {
                        var title =item.title;
                        var imgPath =item.imgPath;
                        var location =item.location;
                        var date =getYMDHMS(item.date);
                        var intro =item.intro;
                        var acitityType =item.acitityType;
                        // console.log("data.size():" + data.size());
                        console.log("data.length:" + data.length);

                        // for (var i = 0; i < data.length;i++){

                            /*item 容器*/
                            var content = $("<div></div>");
                            content.addClass("divitem");
                            // content.attr("backgroud-img",imgPath);
                            content.css("background-image","url(" + imgPath +")" );
                            content.css("height","400px");
                            // content.attr("background-image","url(" + imgPath +")" );

                            /*标题*/
                            var titleElement = $("<h3 class='center'>" + title + "</h3>");
                            titleElement.appendTo(content);

                            var locationEle = $("<label class='center'>" + location + "</label><br/>");
                            locationEle.appendTo(content);

                            var dateEle = $("<label class='center'>" + date + "</label><br/>");
                            dateEle.appendTo(content);

                            var introEle = $("<label class='center'>" + intro + "</label><br/>");
                            introEle.appendTo(content);


                            $("#activities").append(content);
                        // }

                    });
                    // console.log(JSON.stringify(data));
                }
            }
        });

        function getYMDHMS(time){

            var myDate = new Date(time);
            var YMD=myDate.getFullYear() + "-" + (myDate.getMonth()+1) + "-" + myDate.getDate();
            var HMS=myDate.getHours() + ":" + myDate.getMinutes() + ":" + myDate.getSeconds();
            var YMDHMS=YMD+" "+HMS;
            return     YMDHMS;
        }



    </script>
</head>
<body>


    <div class="top">
        <img id="userpath" class="circle"  >
        <label id="username"></label>
    </div>

    <div id="activities" class="right">

        <span class="form-select-button">
            <select name="datalimit">
                <option value="">--时间--</option>
                <option value="day">1天内</option>
                <option value="week">1周内</option>
                <option value="month">1月内</option>
                <option value="year">1年内</option>
            </select>

            <select name="location">
                <option value="">--地点--</option>
                <option value="beijing">北京</option>
                <option value="shanghai">上海</option>
                <option value="guangzhou">广州</option>
                <option value="shenzhen">深圳</option>
            </select>


            <select name="type">
                <option value="">--类型--</option>
                <option value="readbook1">读书会1</option>
                <option value="readbook2">读书会2</option>
                <option value="readbook3">读书会3</option>
                <option value="readbook4">读书会4</option>
            </select>
        </span>
        <br>




    </div>




    <div class="left">
        <a href="page/createactivity">创建活动</a>
    </div>


</body>
</html>
